body{
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color: 		#A9A9A9;

}

.container{
  width: 90%;
  margin: auto;
  overflow: hidden;
  position: relative;

}

header ul{
  margin: 0;
  padding: 0;
}

header{
  background: #000000;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
}


header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #brand{
  float: left;
}

.logo{
  width: 30px;
  position: relative;
  left: 300px;
  bottom: 39px;
}

header #brand h1{
  margin: 0;
}

header navbar {
  float: right;
  margin-top: 10px;
}

#feature{
  margin-top: 250px;
  color: #000000;

}

#feature .box{
  float: left;
  text-align: center;
  width: 22.5%;
  padding: 10px;
  font-size: 30px;

}

#feature .box img{
  height: 150px;
}

a{
  text-decoration: none;
  color: #000000;
}
